.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box img{
    width: 400px;
}
.box img.activa {
       border : 2px solid red;
}