.box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cajon {
    width: 300px;
    height: 300px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 20px;
}
]