.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boxes{
    width: 80%;
    height: 50vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxes img {
    width: 300px;
}
.boxes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}